<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FindPasswd</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FindPasswordServlet</servlet-name>
    <servlet-class>com.qq.web.FindPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPasswordServlet</servlet-name>
    <url-pattern>/find</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckVCodeServlet</servlet-name>
    <servlet-class>com.qq.web.CheckVCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckVCodeServlet</servlet-name>
    <url-pattern>/vCode</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ChangeKey</servlet-name>
  	<servlet-class>com.qq.web.ChangeKey</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ChangeKey</servlet-name>
  	<url-pattern>/change</url-pattern>
  </servlet-mapping>
</web-app>